'.text.html': # Work only with HTML

  # Breadcrumb
  'Breadcrumb - Bootstrap 4':
    'prefix': 'bre'
    'body': """
      <ol class="breadcrumb">
        <li class="active">${1:Home}</li>
      </ol>
      <ol class="breadcrumb">
        <li><a href="${4:#}">${1:Home}</a></li>
        <li class="active">${2:Library}</li>
      </ol>
      <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="${4:#}">${1:Home}</a></li>
        <li><a href="${4:#}">${2:Library}</a></li>
        <li class="active">${3:Data}</li>
      </ol>
    """

  # Breadcrumb
  'Breadcrumb Nav - Bootstrap 4':
    'prefix': 'bren'
    'body': """
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">${1:Home}</a>
        <a class="breadcrumb-item" href="#">${2:Library}</a>
        <a class="breadcrumb-item" href="#">${3:Data}</a>
        <span class="breadcrumb-item active">${4:Bootstrap}</span>
      </nav>
    """
